.advantagesWrapper{
    background: #871b00;
    padding: 50px 40px 40px 40px;
    border-radius: 28px;
    

    h3{
        font-size: 34px;
        line-height: 40px;
        color: #FFFFFF;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 700;
    }

    &>p{
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 400;
    }

    .advantageWrapper{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .advantageNum{
            position: relative;
            .overText{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 28px;
                font-weight: bold;
            }
        }

        .advantageText{
            font-size: 20px;
            line-height: 28px;
            color: #FFFFFF;
            margin-left: 20px;
            font-weight: 400;
        }
    }

    .advantagesBtnWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
    }

    .advantagesBtnWrapper{
        // make video darker
        video{
            filter: brightness(0.5);
        }
        .btn{
            z-index: 5;
        }
    }
}